<navegacao></navegacao>
<div class="container-fluid">
    <div class="row" style="border:1px solid black">
        <menu-lateral></menu-lateral>
        <!--Conteúdo-->
        <conteudo-pagina-texto
            titulo="{{subtopicos[8].titulo}}"
            foto="{{subtopicos[8].foto}}"
            legenda="{{subtopicos[8].legenda}}"
            texto="subtopicos[8].texto">
            <li class="list-group-item"
                ng-repeat="subtopico in subtopicos"><a href="{{subtopico.url}}">{{subtopico.titulo}}</a></li>
        </conteudo-pagina-texto>
    </div>
</div><!--container-fluid-->