/*body em index.html*/

body {
    padding-top: 70px;
    background: url(../img/fundo.jpg) center center no-repeat fixed;
    /*imagem de fundo*/
    background-size: cover;
}

li,
.btn {
    /*habilita a quebra de linha*/
    white-space: normal;
}

p {
    text-align: justify;
}

/*galeria com itens centralizados*/

.galeria li {
    text-align: center
}

.galeria li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*corta a imagem em um tamanho responsivo*/
    /*não funciona no IE*/
    width: 15vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

.img-modal-galeria {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;
}

/*menu em menu.html*/

.menu {
    /*width prefixado para navegadores*/
    /*não funciona no IE*/
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    /*centralizar uma div*/
    margin: 0 auto;
}

/*menu-botao na diretiva menu-botao.html*/

.menu-botao {
    /*alinha o texto no centro*/
    text-align: center;
}

/*define o tamanho da imagem de acordo com o tamanho da tela*/

.menu-botao img {
    width: 10vw;
    height: 10vw;
}

.menu-botao.col-md-2 {
    padding: 0px;
    width: 12.1vw;
}

/*conteudo-pagina-* na diretiva conteudo-pagina-*.html*/

.conteudo-pagina-texto,
.conteudo-pagina-lista,
.conteudo-pagina-galeria {
    background: white
}