html, body {
    height: 100%;
    text-align: center;/*coloca tudo no centro*/
}
body {
    padding: 0%;
    background-color: gray;
}

ul.list-inline {
    display: inline-flex;
}

a:link, a:visited, a:hover, a:active {color: white; text-decoration: none;}

/*__________MENU HOME___________*/
.home {
    /*border: 1px solid black;*/
    padding-top: 3%; 
}
.home-botao {
    width: 223px;
    height: 100%;
}
.home-lista {
    display: none;
}

.home > ul {/*lista de tópicos do home*/
    /* border: 1px solid red; */
    padding: 0px;
}

.home > ul > li {/*cada tópico do home*/
    /* border: 1px solid green; */
}

.home > ul > li > ul {/*cada lista de subtópicos*/
    /*border: 1px solid blue;*/
}

.home > ul > li > div > h4 {/*titulo dos botões*/
    font-stretch: normal;
}
.home > ul > li > div > img {/*imagem dos botões*/
    /*border: 1px solid white;*/
    width: 150px;
    height: 150px;
    margin-bottom: 12%;
}

.home > ul > li > ul > a > li {/*subtópico de cada tópico do menu do home*/
    background-color: #204d74;
    margin-top: 5%;
    padding: 5%;
}

div#botao-ori, 
div#botao-cnt, 
div#botao-jt, 
div#botao-tst,  
div#botao-csjt, 
div#botao-curi {
    /* border: 1px solid rgba(84, 101, 122, 0.89); */
    padding: 0%;
    margin: 0%;
}

div#botao-ori:hover, 
div#botao-cnt:hover, 
div#botao-jt:hover, 
div#botao-tst:hover, 
div#botao-csjt:hover, 
div#botao-curi:hover {
    background-color: rgba(20, 26, 39, 0.8);
    transition: background 0.5s;
}

#tela {
    width: 100%;
    height: 100%;
    background-image: url("../img/fundo.jpg");/*local de acordo com o style.css*/
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;/*cor de todas as letras*/
    padding: 0%;
}