<style>body{background-image:url(templates/2_cnt/criaCnt/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="criaCnt">
    <h1 style="margin-top: 5%">Criação do CNT</h1>

    <p>O Conselho
        Nacional do Trabalho (CNT) foi criado pelo Decreto nº 16.027, de 30 de abril de
        1923. Órgão vinculado ao Ministério da Agricultura, Indústria e Comércio e
        destinado à consulta dos “poderes públicos em assuntos referentes à organização
        do trabalho e da previdência social”.</p>

    <p>As
        atribuições do órgão consistiam em estudar as diversas questões relativas ao
        trabalho e à previdência social. Do ponto de vista organizacional, o conselho
        era integrado por 12 membros escolhidos pelo presidente da República,
        obedecendo à seguinte composição: dois representantes operários, dois
        representantes do patronato, dois altos funcionários do Ministério da
        Agricultura, e seis personalidades de conhecida competência no assunto.</p>

    <p>Ocupava-se
        do dia normal de trabalho na indústria, dos sistemas de remuneração e dos
        contratos coletivos do trabalho, dos sistemas de conciliação e arbitragem, do
        trabalho de menores e de mulheres, da aprendizagem e ensino técnico, dos
        acidentes do trabalho, dos seguros sociais, das caixas de aposentadorias e
        pensões de ferroviários, das instituições de credito popular e das caixas de
        credito agrícola.</p>

    <p>Entre 1924
        e 1929, o CNT encarregou-se da discussão e da elaboração de anteprojetos de
        novas leis, bem como de reforma das leis existentes. Em 9 de setembro de 1946,
        pelo Decreto nº 9.797, transformou-se no Tribunal Superior do Trabalho. A
        Arquivoteca Digital do TST preserva e organiza fundos documentais produzidos
        e/ou acumulados pelo CNT e TST no desenvolvimento de suas atividades.</p>

    <div class="listaBotoes">
        <ul class="list-unstyled">
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Lei Eloy Chaves (Lei nº 4.682/23)" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Novo Regulamento do Conselho Nacional do Trabalho" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Criação do Ministério do Trabalho, Indústria e Comércio" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="1932 – Manifestações na Era Vargas" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="CNT no contexto Constitucional" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Acervo CNT" />
            </li>
            
        </ul>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>