<style>body{background-image:url("templates/1_orig/Legislação Trabalhista/fundo.jpg")}</style><!--muda o fundo da tela-->
<script>
    function showCoords(event) {
        var x = event.clientX;
        var y = event.clientY;
        var coords = "X: " + x + ", Y: " + y;
        document.getElementById("demo").innerHTML = coords;
//        var translateXY = "translate(0,0)";
//        document.getElementsByClassName("modal fade modal-dialog").style.transform = translateXY;
//        transform: translate(0);
////        document.getElementById("modal-dialog").style.position = "absolute";
//        document.getElementById("modal-dialog").style.top = "000px";
//        document.getElementById("modal-dialog").style.left = "000px";
////        document.getElementById("modal-content").style.position = "absolute";
//        document.getElementById("modal-content").style.top = "000px";
//        document.getElementById("modal-content").style.left = "000px";
    }
    /**
     * Define o conteúdo do modal de acordo com 
     * a variável op
     * @param {type} opcao
     * @returns {undefined}
     */
    function setConteudo(opcao) {
        var op = opcao;
        var content;//variável de conteúdo
        var myModal = $('#myModal');//referencia ao modal (janela) da página
        switch (op) {
            case '1':
                $.get("templates/1_orig/Legislação Trabalhista/Lei de 13 de setembro de 1830/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '2':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 108 de 11 de outubro de 1837/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '3':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 556 de 25 de junho de 1850/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '4':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 2827 de 15 de marco de 1879/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '5':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 1313 de 17 de janeiro de 1891/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '6':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto Legislativo 4682 de 24 de janeiro de 1923/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '7':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 16027 de 30 de abril de 1923/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '8':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 4859 de 26 de setembro de 1924/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '9':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 4982 de 24 de dezembro de 1925/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '10':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 5083 de 1 de dezembro de 1926/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '11':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 17496 de 30 de outubro de 1926/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '12':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 5109 de 20 de dezembro de 1926/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '13':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 19433 de 23 de novembro de 1930/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '14':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 19482 de 12 de dezembro de 1930/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '15':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 19770 de 19 de marco de 1931/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '16':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 21175 de 21 de marco de 1932/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '17':
                $.get("templates/1_orig/Legislação Trabalhista/Em julho de 1934/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '18':
                $.get("templates/1_orig/Legislação Trabalhista/Em novembro de 1937/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '19':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-lei 1402 de 5 de julho de 1939/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '20':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-lei 1237 de 2 de maio de 1939/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '21':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-lei 2162 de 1 de maio de 1940/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '22':
                $.get("templates/1_orig/Legislação Trabalhista/1 de maio de 1941/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '23':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-Lei 5452 de 1 de maio de 1943/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '24':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-lei 9070 de 15 de marco de 1946/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '25':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 9502 de 23 de julho de 1946/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '26':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 41721 de 25 de junho de 1957/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '27':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4066 de maio de 1962/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '28':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4214 de 2 de marco de 1963/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '29':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4266 de outubro de 1963/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '30':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4330 de 1 de junho de 1964/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '31':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4589 de 11 de dezembro de 1964/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '32':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 4725 de 13 de julho de 1965/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '33':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 5107 de 13 de setembro de 1966/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '34':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 229 de 28 de fevereiro de 1967/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '35':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto-lei 564 de 1 de maio de 1969/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '36':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 5584 de 26 de junho de 1970/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '37':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 5889 de 8 de junho de 1973/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '38':
                $.get("templates/1_orig/Legislação Trabalhista/1988/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '39':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 7783 de 28 de junho de 1989/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '40':
                $.get("templates/1_orig/Legislação Trabalhista/Decreto 2100 de 20 de dezembro de 1996/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '41':
                $.get("templates/1_orig/Legislação Trabalhista/2006/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '42':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 11948 de 16 de junho de 2009/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '43':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12551 de 15 de dezembro de 2011/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '44':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12513 de 26 de outubro de 2011/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '45':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12440 de 7 de julho de 2011/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '46':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12382 de 25 de fevereiro de 2011/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '47':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12506 de 11 de outubro de 2011/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '48':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 12761 de 27 de dezembro de 2012/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '49':
                $.get("templates/1_orig/Legislação Trabalhista/Emenda Constitucional 72 de 2 de abril de 2013/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '50':
                $.get("templates/1_orig/Legislação Trabalhista/Medida Provisoria 665 de 30 de dezembro de 2014/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '51':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 13467 de 13 de julho de 2017/modal.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '52':
                $.get("templates/1_orig/Legislação Trabalhista/Lei 13429 de 31 de marco de 2017/modal.html", function (content) {//variável content recebe o conteúdo            $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
        }//fim switch
    }//fim função setConteudo
</script>
<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include='"templates/nav.html"'></div><!--este código estará dentro de index.html-->
<!--<p id="demo">coordenadas</p><!--teste de coordenadas-->
<div class="legiTrab">
    <h1 style="margin-top: 5%">Legislação do Trabalho</h1>

    <div class="listaLeis" onclick="showCoords(event)">
        <ul class="list-unstyled">
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('1')">
                Lei de 13 de setembro de 1830 – primeira legislação a regular os contratos de locação e prestação de serviços de brasileiros e estrangeiros no século XIX.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('2')">
                Lei n.º 108, de 11 de outubro de 1837 – tratava especificamente dos contratos de prestação de serviços de estrangeiros.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('3')">
                Lei n.º 556, de 25 de junho de 1850 – O Código Comercial foi uma das primeiras legislações conhecidas no Brasil que dispunha sobre condições de trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('4')">
                Decreto n.º 2827, de 15 de março de 1879 – Lei de Locação de Serviços sobre a questão do trabalho rural.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('5')">
                Decreto n.º 1.313, de 17 de janeiro de 1891 – Regulamentava o trabalho dos menores de 12 a 18 anos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('6')">
                Decreto Legislativo n.º 4.682, de 24 de janeiro de 1923 - A Previdência Social é implantada no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('7')">
                Decreto n.º 16.027, de 30 de abril de 1923 - É criado o Conselho Nacional do Trabalho (CNT).                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('8')">
                Decreto n.º 4.859, de 26 de setembro de 1924 – dia 1º de maio, feriado nacional.                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('9')">
                Decreto n.º 4.982, de 24 de dezembro de 1925 - Lei de Férias.                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('10')">
                Decreto n.º 5.083, de 1° de dezembro de 1926 - O Código de Menores regulamentava o trabalho dos menores de idade nas fábricas.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('11')">
                Decreto n.º 17.496, de 30 de outubro de 1926 - Regulamentou o Decreto 4.982/1925 estendendo o direito a férias.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('12')">
                Decreto n.º 5.109, de 20 de dezembro de 1926 - estendeu o regime do Decreto n.º 4.682/1923 a outras empresas, criando Caixas de Aposentadoria e Pensões.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('13')">
                Decreto n.º 19.433, de 23 de novembro de 1930 - Criação do Ministério do Trabalho, Indústria e Comércio.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('14')">
                Decreto n.º 19.482, de 12 de dezembro de 1930 - Lei de Nacionalização do Trabalho limitava a entrada de estrangeiros no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('15')">
                Decreto n.º 19.770, de 19 de março de 1931 - Lei de Sindicalização.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('16')">
                Decreto n.º 21.175, de 21 de março de 1932 - Instituição da Carteira de Trabalho e Previdência Social como documento obrigatório.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('17')">
                Em julho de 1934 – Promulgação de uma nova Constituição.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('18')">
                Em novembro de 1937 – Promulgação da Constituição Brasileira. 
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('19')">
                Decreto-lei n.º 1.402, de 5 de julho de 1939 - restaurava a unidade sindical proposta em 1931 e sepultava a pluralidade sindical prevista na Constituição de 1934.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('20')">
                Decreto-lei n.º 1.237, de 2 de maio de 1939 - organização da Justiça do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('21')">
                Decreto-Lei n.º 2.162, de 1° de maio de 1940 - instituição do salário mínimo nacional.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('22')">
                1° de maio de 1941 - É oficialmente instalada a Justiça do Trabalho no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('23')">
                Decreto-Lei n.º 5.452, de 1° de maio de 1943 - é aprovada a Consolidação das Leis do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('24')">
                Decreto-lei n.º 9.070, de 15 de março de 1946 - condições de realização de greves.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('25')">
                Decreto n.º 9.502, de 23 de julho de 1946 - proíbe o exercício de atividade político-partidária por parte das organizações sindicais.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('26')">
                Decreto n.º 41.721, de 25 de junho de 1957 - a Convenção n.º 81 da OIT passou a integrar o ordenamento jurídico interno do país.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('27')">
                Lei n.º 4.066, de maio de 1962 - normas para validade de pedido de demissão ou recibo de quitação contratual.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('28')">
                Lei n.º 4214, de 2 de março de 1963 - instituiu a carteira profissional para o trabalhador do campo.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('29')">
                Lei n.º 4.266, de outubro de 1963 – direito ao salário-família do trabalhador.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('30')">
                Lei n.º 4330, de 1° de junho de 1964 - A Lei de greve que substituiu a Lei de Greve de 1946.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('31')">
                Lei n.º 4.589, de 11 de dezembro de 1964 - criação dos Departamentos Nacionais de Emprego e Salário, de Segurança e Higiene no Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('32')">
                Lei n.º 4.725, de 13 de julho de 1965 - estabelece normas para o processo de dissídios coletivos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('33')">
                Lei n.º 5.107, de 13 de setembro de 1966 - instituiu o Fundo de Garantia do Tempo de Serviço (FGTS).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('34')">
                Decreto n.º 229, de 28 de fevereiro de 1967 - introduziu uma série de modificações no corpo da CLT.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('35')">
                Decreto-lei n.º 564, de 1° de maio de 1969 - estendeu benefícios da Previdência aos Trabalhadores Rurais.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('36')">
                Lei n. ° 5.584, de 26 de junho de 1970 - normas de Direito Processual do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('37')">
                Lei n °. 5.889, de 8 de junho de 1973 - Instituiu normas de regulação do trabalho rural.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('38')">
                1988 - Promulgação da nova Constituição Federal.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('39')">
                Lei n.º 7.783, de 28 de junho de 1989 - assegura o direito de greve a todo trabalhador.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('40')">
                Decreto n.º 2.100, de 20 de dezembro de 1996 - anulava trechos do Decreto n.º 1.855/1996, responsável por ratificar a Convenção n.º 158 da Organização Internacional do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('41')">
                2006 - É lançada a Agenda Nacional de Trabalho Decente (ANTD).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('42')">
                Lei n.° 11.948, de 16 de junho de 2009 - que veda empréstimos do BNDES.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('43')">
                Lei n.º 12.551, de 15 de dezembro de 2011 - reconhece o Teletrabalho, ou trabalho a distância.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('44')">
                Lei n.º 12.513, de 26 de outubro de 2011 - institui o Programa Nacional de Acesso ao Ensino Técnico e ao Emprego (Pronatec).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('45')">
                Lei n.º 12.440, de 7 de julho de 2011 - cria a Certidão Negativa de Débito Trabalhista.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('46')">
                Lei n.º 12.382, de 25 de fevereiro de 2011 - institui a política de aumento real para o salário mínimo até 2015. 
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('47')">
                Lei n.º 12.506, de 11 de outubro de 2011 - amplia o aviso prévio de 30 para 90 dias.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('48')">
                Lei n.º 12.761, de 27 de dezembro de 2012 - institui o Programa de Cultura do Trabalhador e cria o Vale-Cultura.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('49')">
                Emenda Constitucional n.º 72, de 2 de abril de 2013 - estende aos empregados domésticos os mesmos direitos dos trabalhadores urbanos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('50')">
                Medida Provisória n.º 665, de 30 de dezembro de 2014 - restringe o acesso a direitos trabalhistas.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('51')">
                Lei n.º 13.467, de 13 de julho de 2017 - institui uma reforma trabalhista, alterando pontos da CLT.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('52')">
                Lei n.º 13.429, de 31 de março de 2017 - Lei da Terceirização, que regulamenta o trabalho temporário.
            </li>
        </ul>

    </div><!-- fim listaLeis -->

</div><!-- fim legiTrab -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div id="modal-dialog" class="modal-dialog" role="document">
        <div id="modal-content" class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>