<style>body{background-image:url(templates/4_tst/70AnosAcor/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid 70AnosAcor">
    <div class="row">
        <h2 class="titulo-pagina">70 Anos em Acórdãos</h2>
        <figure>
            <p><img src="templates/4_tst/Programas Institucionais/Foto/programas institucionais.jpg" alt="foto"/></p>
        </figure>
        <p>Os acórdãos aqui selecionados demonstram um pouco da história, da importância e da formação da jurisprudência do Tribunal Superior do Trabalho ao longo do tempo, reunindo as principais decisões do TST nas últimas décadas. As informações são baseadas no livro institucional intitulado “Tribunal Superior do Trabalho – 70 anos em acórdãos”. A publicação foi coordenada pelo ministro Alexandre Agra Belmonte em 2016, na qual destacam-se algumas participações por meio de acórdãos representativos aos 70 anos da Corte superior trabalhista. Foi produzida pela Editora JC e pelo Instituto Justiça e Cidadania. Organizada por ministros do TST antigos e atuais. A compilação retrata, por meio das decisões, a evolução na interpretação das questões trabalhistas, revelando o papel da Justiça do Trabalho na consolidação e na harmonização dos princípios fundamentais do valor social do trabalho e da livre iniciativa, que informam o Estado Democrático de Direito.</p>
    </div>
    <br>
    <div class="row">
        <ul class="listaBotoes list-unstyled" >
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Cnéa Cimini Moreira de Oliveira" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Delaíde Alves Miranda Arantes" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Dora Maria da Costa" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Kátia Magalhães Arruda" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Maria Cristina Irigoyen Peduzzi" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Maria de Assis Calsing" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Maria Helena Mallmann" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministra Rosa Maria Weber" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Alberto Luiz Bresciani de Fontan Pereira" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Alexandre de Souza Agra Belmonte" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Aloysio Corrêa da Veiga" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Antônio José de Barros Levenhagen" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Antonio Maria Thaumaturgo Cortizo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Arnaldo Lopes Sussekind" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Augusto César Leite de Carvalho" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Carlos Alberto Reis de Paula" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Carlos Coqueijo Torreão da Costa" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Cláudio Mascarenhas Brandão" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Délio Maranhão" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Douglas Alencar Rodrigues" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Emmanoel Pereira" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Ermes Pedro Pedrassani" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Fernando Eizo Ono" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Geraldo Montedônio Bezerra de Menezes" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Guilherme Caputo Bastos" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Horácio Raymundo de Senna Pires" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Hugo Carlos Scheuermann" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Hylo Bezerra Gurgel" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Ives Gandra da Silva Martins Filho" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Jeremias Marrocos de Moraes Pires" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro João Batista Brito Pereira" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro João Oreste Dalazen" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro José Luciano de Castilho Pereira" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro José Roberto Freire Pimenta" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro José Simpliciano Fontes de Faria Fernandes" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Lélio Bentes Corrêa" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Luiz José Guimarães Falcão" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Luiz Philipe Vieira de Mello Filho" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Márcio Eurico Vitral Amaro" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Marco Aurélio Mendes de Farias Mello" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Maurício Godinho Delgado" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Milton de Moura França" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Mozart Victor Russomano" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Nelson Tapajós" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Orlando Coutinho" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Orlando Teixeira da Costa" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Renato de Lacerda Paiva" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Ursulino Santos Filho" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Vantuil Abdala" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ministro Walmir Oliveira da Costa" /></li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>