<script>
//    Código Efeito Toggle
    $(document).ready(function() {
        $('#botao-ori').click(function() {
            $('#botao-ori-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-cnt').click(function() {
            $('#botao-cnt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-jt').click(function() {
            $('#botao-jt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-tst').click(function() {
            $('#botao-tst-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-csjt').click(function() {
            $('#botao-csjt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-curi').click(function() {
            $('#botao-curi-lista').animate({
                height: 'toggle'
            });
        });
    });
//    Fim Código Efeito Toggle
</script>

<!--<a href="#!/criacao-cnt">A Criação do CNT</a> <- Modelo de link-->

<div class="home">
    <!--__________________________________________________________________________________________________________ -->
    <ul class="list-inline">

        <!--____________________ Botão Origem e Evolução do Trabalho ____________________-->
        <li class="home-botao">
            <!--nome e imagem dentro de um div-->
            <div id="botao-ori">
                <h6>Origem e Evolução do Trabalho</h6>
                <img src="img/origem-evolucao.jpg" alt="Origem e Evolução do Trabalho" /><!--Cabeçalho-->
            </div>
            <ul id="botao-ori-lista" class="home-lista list-unstyled">
                <li><a href="#">História do Trabalho no Brasil</a></li>
                <li><a href="#">Legislação Trabalhista</a></li>
            </ul>
        </li>
        
        <!--____________________ Botão Conselho Nacional do Trabalho ____________________-->
        <li id="botao-cnt" class="home-botao">
            <h6>CNT</h6>
            <img src="img/cnt.jpg" alt="Conselho Nacional do Trabalho" /><!--Cabeçalho-->
            <ul id="botao-cnt-lista" class="home-lista list-unstyled">
                <li><a href="#">A Criação do CNT</a></li>
                <li><a href="#">A Criação do Ministério do Trabalho</a></li>
                <li><a href="#">Constituição de 1934</a></li>
                <li><a href="#">Acervo CNT</a></li>
                <li><a href="#">Novo Regulamento do Conselho Nacional do Trabalho</a></li>
                <li><a href="#">Quadros Evolutivos da Estrutura do CNT</a></li>
                <li><a href="#">Presidentes do CNT</a></li>
            </ul>
        </li>

        <!--____________________ Botão Justiça do Trabalho ____________________-->
        <li id="botao-jt" class="home-botao">
            <h6>Justiça do Trabalho</h6>
            <img src="img/justica-trabalho.jpg" alt="Justiça do Trabalho" /><!--Cabeçalho-->
            <ul id="botao-jt-lista" class="home-lista list-unstyled">
                <li><a href="#">A Justiça do Trabalho no Mundo</a></li>
                <li><a href="#">A Justiça do Trabalho no Brasil</a></li>
                <li><a href="#">Atores da Justiça do Trabalho no Brasil</a></li>
            </ul>
        </li>

        <!--____________________ Botão Tribunal Superior do Trabalho ____________________-->
        <li id="botao-tst" class="home-botao">
            <h6>TST</h6>
            <img src="img/tst.jpg" alt="Tribunal Superior do Trabalho" /><!--Cabeçalho-->
            <ul id="botao-tst-lista" class="home-lista list-unstyled">
                <li><a href="#">Fatos Históricos Relacionados</a></li>
                <li><a href="#">Programas Institucionais</a></li>
                <li><a href="#">70 Anos em Acórdãos</a></li>
            </ul>
        </li>

        <!--____________________ Botão Conselho Superior da Justiça do Trabalho ____________________-->
        <li id="botao-csjt" class="home-botao">
            <h6>CSJT</h6>
            <img src="img/csjt.jpg" alt="Conselho Superior da Justiça do Trabalho" /><!--Cabeçalho-->
            <ul id="botao-csjt-lista" class="home-lista list-unstyled">
                <li><a href="#">Criação</a></li>
                <li><a href="#">Composição</a></li>
                <li><a href="#">Gestão Estratégica</a></li>
                <li><a href="#">Atividades</a></li>
            </ul>
        </li>

        <!--____________________ Botão Curiosidades ____________________-->
        <li id="botao-curi" class="home-botao">
            <h6>Curiosidades</h6>
            <img src="img/curiosidades.jpg" alt="Curiosidades" /><!--Cabeçalho-->
            <ul id="botao-curi-lista" class="home-lista list-unstyled">
                <li><a href="#">Dicionário de Profissões Pouco Comuns</a></li>
                <li><a href="#">Você Sabia?</a></li>
            </ul>
        </li>

    </ul><!-- Fim lista inline dos botões -->
</div>
