<!--<a href="#!/criacao-cnt">A Criação do CNT</a> <- Modelo de link-->

<div id="menu-inicial">
    <!--____________________ Origem e Evolução do Trabalho ____________________-->
    <div id="menu-inicial-botao">
        <h6>Origem e Evolução do Trabalho</h6>
        <img src="img/origem-evolucao.jpg" alt="Origem e Evolução do Trabalho" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">História do Trabalho no Brasil</a></li>
        <li><a href="#">Legislação Trabalhista</a></li>
    </ul>
    
    <!--____________________ Conselho Nacional do Trabalho ____________________-->
    <div id="menu-inicial-botao">
        <h6>CNT</h6>
        <img src="img/cnt.jpg" alt="Conselho Nacional do Trabalho" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">A Criação do CNT</a></li>
        <li><a href="#">A Criação do Ministério do Trabalho</a></li>
        <li><a href="#">Constituição de 1934</a></li>
        <li><a href="#">Acervo CNT</a></li>
        <li><a href="#">Novo Regulamento do Conselho Nacional do Trabalho</a></li>
        <li><a href="#">Quadros Evolutivos da Estrutura do CNT</a></li>
        <li><a href="#">Presidentes do CNT</a></li>
        <li><a href="#"></a></li>
    </ul>
    
    <!--____________________ Justiça do Trabalho ____________________-->
    <div id="menu-inicial-botao">
        <h6>Justiça do Trabalho</h6>
        <img src="img/justica-trabalho.jpg" alt="Justiça do Trabalho" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">A Justiça do Trabalho no Mundo</a></li>
        <li><a href="#">A Justiça do Trabalho no Brasil</a></li>
        <li><a href="#">Atores da Justiça do Trabalho no Brasil</a></li>
        <li><a href="#"></a></li>
    </ul>
    
    <!--____________________ Tribunal Superior do Trabalho ____________________-->
    <div id="menu-inicial-botao">
        <h6>TST</h6>
        <img src="img/tst.jpg" alt="Tribunal Superior do Trabalho" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">Fatos Históricos Relacionados</a></li>
        <li><a href="#">Programas Institucionais</a></li>
        <li><a href="#">70 Anos em Acórdãos</a></li>
        <li><a href="#"></a></li>
    </ul>
    
    <!--____________________ Conselho Superior da Justiça do Trabalho ____________________-->
    <div id="menu-inicial-botao">
        <h6>CSJT</h6>
        <img src="img/csjt.jpg" alt="Conselho Superior da Justiça do Trabalho" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">Criação</a></li>
        <li><a href="#">Composição</a></li>
        <li><a href="#">Gestão Estratégica</a></li>
        <li><a href="#">Atividades</a></li>
    </ul>
    
    <!--____________________ Curiosidades ____________________-->
    <div id="menu-inicial-botao">
        <h6>Curiosidades</h6>
        <img src="img/curiosidades.jpg" alt="Curiosidades" /><!--Cabeçalho-->
    </div>
    <ul id="menu-inicial-lista" class="list-unstyled">
        <li><a href="#">Dicionário de Profissões Pouco Comuns</a></li>
        <li><a href="#">Você Sabia?</a></li>
    </ul>
    
</div>
