<script>
//    Código Efeito Toggle
    $(document).ready(function() {
        $('#botao-orig').click(function() {
            $('#botao-orig-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-cnt').click(function() {
            $('#botao-cnt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-jt').click(function() {
            $('#botao-jt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-tst').click(function() {
            $('#botao-tst-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-csjt').click(function() {
            $('#botao-csjt-lista').animate({
                height: 'toggle'
            });
        });
    });
    $(document).ready(function() {
        $('#botao-curi').click(function() {
            $('#botao-curi-lista').animate({
                height: 'toggle'
            });
        });
    });
//    Fim Código Efeito Toggle
</script>

<!--<a href="#!/teste">TESTE</a> <- Modelo de link-->

<div class="home">
    <!--__________________________________________________________________________________________________________ -->
    <ul class="list-inline">

        <!--____________________ Botão Origem e Evolução do Trabalho ____________________-->
        <li class="home-botao">
            <div id="botao-orig">
                <h4 style="font-stretch: condensed;">Origem e Evolução do Trabalho</h4>
                <img src="img/origem-evolucao.jpg" alt="Origem e Evolução do Trabalho" />
            </div>
            <ul id="botao-orig-lista" class="home-lista list-unstyled">
                <a href="#!/orig/histTrab"><li>História do Trabalho no Brasil</li></a>
                <a href="#!/orig/legiTrab"><li>Legislação Trabalhista</li></a>
            </ul>
        </li>

        <!--____________________ Botão Conselho Nacional do Trabalho ____________________-->
        <li class="home-botao">
            <div id="botao-cnt">
                <h4>CNT</h4>
                <img src="img/cnt.jpg" alt="Conselho Nacional do Trabalho" />
            </div>
            <ul id="botao-cnt-lista" class="home-lista list-unstyled">
                <a href="#"><li>A Criação do CNT</li></a>
                <a href="#"><li>A Criação do Ministério do Trabalho</li></a>
                <a href="#"><li>Constituição de 1934</li></a>
                <a href="#"><li>Acervo CNT</li></a>
                <a href="#"><li>Novo Regulamento do Conselho Nacional do Trabalho</li></a>
                <a href="#"><li>Quadros Evolutivos da Estrutura do CNT</li></a>
                <a href="#"><li>Presidentes do CNT</li></a>
            </ul>
        </li>

        <!--____________________ Botão Justiça do Trabalho ____________________-->
        <li class="home-botao">
            <div id="botao-jt">
                <h4>Justiça do Trabalho</h4>
                <img src="img/justica-trabalho.jpg" alt="Justiça do Trabalho" />
            </div>
            <ul id="botao-jt-lista" class="home-lista list-unstyled">
                <a href="#"><li>A Justiça do Trabalho no Mundo</li></a>
                <a href="#"><li>A Justiça do Trabalho no Brasil</li></a>
                <a href="#"><li>Atores da Justiça do Trabalho no Brasil</li></a>
            </ul>
        </li>

        <!--____________________ Botão Tribunal Superior do Trabalho ____________________-->
        <li class="home-botao">
            <div id="botao-tst">
                <h4>TST</h4>
                <img src="img/tst.jpg" alt="Tribunal Superior do Trabalho" />
            </div>
            <ul id="botao-tst-lista" class="home-lista list-unstyled">
                <a href="#"><li>Fatos Históricos Relacionados</li></a>
                <a href="#"><li>Programas Institucionais</li></a>
                <a href="#"><li>70 Anos em Acórdãos</li></a>
            </ul>
        </li>

        <!--____________________ Botão Conselho Superior da Justiça do Trabalho ____________________-->
        <li class="home-botao">
            <div id="botao-csjt">
                <h4>CSJT</h4>
                <img src="img/csjt.jpg" alt="Conselho Superior da Justiça do Trabalho" />
            </div>
            <ul id="botao-csjt-lista" class="home-lista list-unstyled">
                <a href="#"><li>Criação</li></a>
                <a href="#"><li>Composição</li></a>
                <a href="#"><li>Gestão Estratégica</li></a>
                <a href="#"><li>Atividades</li></a>
            </ul>
        </li>

        <!--____________________ Botão Curiosidades ____________________-->
        <li class="home-botao">
            <div id="botao-curi">
                <h4>Curiosidades</h4>
                <img src="img/curiosidades.jpg" alt="Curiosidades" />
            </div>
            <ul id="botao-curi-lista" class="home-lista list-unstyled">
                <a href="#"><li>Dicionário de Profissões Pouco Comuns</li></a>
                <a href="#"><li>Você Sabia?</li></a>
            </ul>
        </li>

    </ul><!-- Fim lista inline dos botões -->
    
    <div class="elementToFadeInAndOut">
        <img src="img/tst-sem-fundo.png" alt=""/>
        <h1>Seja Bem Vindo!</h1>
    </div>
</div>
