<style>body{background-image:url(templates/4_tst/pasta/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid fatoHist">
    <div class="row">
        <h2 class="titulo-pagina">Fatos Históricos</h2>
        <figure>
            <p><img src="templates/4_tst/Fatos Históricos/Foto/TST.png"></p>
        </figure>
        <p>O Tribunal Superior do Trabalho - TST, com sede em Brasília-DF e jurisdição em todo o território nacional, é órgão de cúpula da Justiça do Trabalho, nos termos do artigo 111, inciso I, da Constituição da República, cuja função precípua consiste em uniformizar a jurisprudência trabalhista brasileira.</p>
        <p>O TST é composto de vinte e sete ministros, escolhidos dentre brasileiros com mais de trinta e cinco e menos de sessenta e cinco anos, nomeados pelo presidente da República após aprovação pela maioria absoluta do Senado Federal, sendo:</p>
        <p>I - um quinto dentre advogados com mais de dez anos de efetiva atividade profissional e membros do Ministério Público do Trabalho com mais de dez anos de efetivo exercício, observado o disposto no art. 94;</p>
        <p>II - os demais dentre juízes dos Tribunais Regionais do Trabalho, oriundos da magistratura da carreira, indicados pelo próprio Tribunal Superior.</p>
    </div>
    <br>
    <div class="row">
        <p>Compõem a direção do TST no biênio 2016/2018:</p>
        <ul style="text-align: justify; margin-left: 1vw; margin-right: 1vw;">
            <li>Presidente: Ministro Ives Gandra da Silva Martins Filho;</li>
            <li>Vice-Presidente: Ministro Emmanoel Pereira;</li>
            <li>Corregedor-Geral da Justiça do Trabalho: Ministro Renato de Lacerda Paiva.</li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>