<style>body{background-image:url(templates/1_orig/legiTrab/fundo.jpg)}</style><!--muda o fundo da tela-->
<script>
    function showCoords(event) {
        var x = event.clientX;
        var y = event.clientY;
        var coords = "X: " + x + ", Y: " + y;
        document.getElementById("demo").innerHTML = coords;
//        document.getElementById("modal-dialog").style.position = "absolute";
        document.getElementById("modal-dialog").style.top = "000px";
        document.getElementById("modal-dialog").style.left = "000px";
//        document.getElementById("modal-content").style.position = "absolute";
        document.getElementById("modal-content").style.top = "000px";
        document.getElementById("modal-content").style.left = "000px";
    }
    /**
     * Define o conteúdo do modal de acordo com 
     * a variável op
     * @param {type} opcao
     * @returns {undefined}
     */
    function setConteudo(opcao) {
        var op = opcao;
        var content;//variável de conteúdo
        var myModal = $('#myModal');//referencia ao modal (janela) da página
        switch (op) {
            case 'l9_1830':
                $.get("templates/1_orig/legiTrab/leis/l9_1830/l9_1830.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l108_10_1837':
                $.get("templates/1_orig/legiTrab/leis/l108_10_1837/l108_10_1837.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l556_6_1850':
                $.get("templates/1_orig/legiTrab/leis/l556_6_1850/l556_6_1850.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd2827_3_1879':
                $.get("templates/1_orig/legiTrab/leis/d2827_3_1879/d2827_3_1879.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd1313_1_1891':
                $.get("templates/1_orig/legiTrab/leis/d1313_1_1891/d1313_1_1891.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl4682_1_1923':
                $.get("templates/1_orig/legiTrab/leis/dl4682_1_1923/dl4682_1_1923.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd16027_4_1923':
                $.get("templates/1_orig/legiTrab/leis/d16027_4_1923/d16027_4_1923.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd4859_9_1924':
                $.get("templates/1_orig/legiTrab/leis/d4859_9_1924/d4859_9_1924.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd4982_12_1925':
                $.get("templates/1_orig/legiTrab/leis/d4982_12_1925/d4982_12_1925.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd5083_12_1926':
                $.get("templates/1_orig/legiTrab/leis/d5083_12_1926/d5083_12_1926.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd17496_10_1926':
                $.get("templates/1_orig/legiTrab/leis/d17496_10_1926/d17496_10_1926.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd5109_12_1926':
                $.get("templates/1_orig/legiTrab/leis/d5109_12_1926/d5109_12_1926.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd19433_11_1930':
                $.get("templates/1_orig/legiTrab/leis/d19433_11_1930/d19433_11_1930.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd19482_12_1930':
                $.get("templates/1_orig/legiTrab/leis/d19482_12_1930/d19482_12_1930.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd19770_3_1931':
                $.get("templates/1_orig/legiTrab/leis/d19770_3_1931/d19770_3_1931.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd21175_3_1932':
                $.get("templates/1_orig/legiTrab/leis/d21175_3_1932/d21175_3_1932.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'c1934':
                $.get("templates/1_orig/legiTrab/leis/c1934/c1934.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'c1937':
                $.get("templates/1_orig/legiTrab/leis/c1937/c1937.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl1402_7_1939':
                $.get("templates/1_orig/legiTrab/leis/dl1402_7_1939/dl1402_7_1939.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl1237_5_1939':
                $.get("templates/1_orig/legiTrab/leis/dl1237_5_1939/dl1237_5_1939.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl2162_5_1940':
                $.get("templates/1_orig/legiTrab/leis/dl2162_5_1940/dl2162_5_1940.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'jt_5_1941':
                $.get("templates/1_orig/legiTrab/leis/jt_5_1941/jt_5_1941.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl5452_5_1943':
                $.get("templates/1_orig/legiTrab/leis/dl5452_5_1943/dl5452_5_1943.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl9070_3_1946':
                $.get("templates/1_orig/legiTrab/leis/dl9070_3_1946/dl9070_3_1946.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd9502_7_1946':
                $.get("templates/1_orig/legiTrab/leis/d9502_7_1946/d9502_7_1946.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd41721_6_1957':
                $.get("templates/1_orig/legiTrab/leis/d41721_6_1957/d41721_6_1957.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4066_5_1962':
                $.get("templates/1_orig/legiTrab/leis/l4066_5_1962/l4066_5_1962.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4214_3_1963':
                $.get("templates/1_orig/legiTrab/leis/l4214_3_1963/l4214_3_1963.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4266_10_1963':
                $.get("templates/1_orig/legiTrab/leis/l4266_10_1963/l4266_10_1963.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4330_6_1964':
                $.get("templates/1_orig/legiTrab/leis/l4330_6_1964/l4330_6_1964.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4589_12_1964':
                $.get("templates/1_orig/legiTrab/leis/l4589_12_1964/l4589_12_1964.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l4725_6_1965':
                $.get("templates/1_orig/legiTrab/leis/l4725_6_1965/l4725_6_1965.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l5107_9_1966':
                $.get("templates/1_orig/legiTrab/leis/l5107_9_1966/l5107_9_1966.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd229_2_1967':
                $.get("templates/1_orig/legiTrab/leis/d229_2_1967/d229_2_1967.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'dl564_5_1969':
                $.get("templates/1_orig/legiTrab/leis/dl564_5_1969/dl564_5_1969.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l5584_6_1970':
                $.get("templates/1_orig/legiTrab/leis/l5584_6_1970/l5584_6_1970.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l5889_6_1973':
                $.get("templates/1_orig/legiTrab/leis/l5889_6_1973/l5889_6_1973.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'c1988':
                $.get("templates/1_orig/legiTrab/leis/c1988/c1988.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l7783_6_1989':
                $.get("templates/1_orig/legiTrab/leis/l7783_6_1989/l7783_6_1989.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'd2100_12_1996':
                $.get("templates/1_orig/legiTrab/leis/d2100_12_1996/d2100_12_1996.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'antd_2006':
                $.get("templates/1_orig/legiTrab/leis/antd_2006/antd_2006.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l11948_6_2009':
                $.get("templates/1_orig/legiTrab/leis/l11948_6_2009/l11948_6_2009.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12551_12_2011':
                $.get("templates/1_orig/legiTrab/leis/l12551_12_2011/l12551_12_2011.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12513_10_2011':
                $.get("templates/1_orig/legiTrab/leis/l12513_10_2011/l12513_10_2011.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12440_7_2011':
                $.get("templates/1_orig/legiTrab/leis/l12440_7_2011/l12440_7_2011.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12382_2_2011':
                $.get("templates/1_orig/legiTrab/leis/l12382_2_2011/l12382_2_2011.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12506_10_2011':
                $.get("templates/1_orig/legiTrab/leis/l12506_10_2011/l12506_10_2011.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l12761_12_2012':
                $.get("templates/1_orig/legiTrab/leis/l12761_12_2012/l12761_12_2012.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'ec72_4_2013':
                $.get("templates/1_orig/legiTrab/leis/ec72_4_2013/ec72_4_2013.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'mp665_12_2014':
                $.get("templates/1_orig/legiTrab/leis/mp665_12_2014/mp665_12_2014.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l13467_6_2017':
                $.get("templates/1_orig/legiTrab/leis/l13467_6_2017/l13467_6_2017.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'l13429_3_2017':
                $.get("templates/1_orig/legiTrab/leis/l13429_3_2017/l13429_3_2017.html", function(content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-body').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
        }//fim switch
    }//fim função setConteudo
</script>
<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include='"templates/nav.html"'></div><!--este código estará dentro de index.html-->
<p id="demo">coordenadas</p>
<div class="legiTrab">
    <h1 style="margin-top: 5%">Legislação do Trabalho</h1>

    <div class="listaLeis" onclick="showCoords(event)">
        <ul class="list-unstyled">
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l9_1830')">
                Lei de 13 de setembro de 1830 – primeira legislação a regular os contratos de locação e prestação de serviços de brasileiros e estrangeiros no século XIX.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l108_10_1837')">
                Lei n.º 108, de 11 de outubro de 1837 – tratava especificamente dos contratos de prestação de serviços de estrangeiros.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l556_6_1850')">
                Lei n.º 556, de 25 de junho de 1850 – O Código Comercial foi uma das primeiras legislações conhecidas no Brasil que dispunha sobre condições de trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d2827_3_1879')">
                Decreto n.º 2827, de 15 de março de 1879 – Lei de Locação de Serviços sobre a questão do trabalho rural.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d1313_1_1891')">
                Decreto n.º 1.313, de 17 de janeiro de 1891 – Regulamentava o trabalho dos menores de 12 a 18 anos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl4682_1_1923')">
                Decreto Legislativo n.º 4.682, de 24 de janeiro de 1923 - A Previdência Social é implantada no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d16027_4_1923')">
                Decreto n.º 16.027, de 30 de abril de 1923 - É criado o Conselho Nacional do Trabalho (CNT).                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d4859_9_1924')">
                Decreto n.º 4.859, de 26 de setembro de 1924 – dia 1º de maio, feriado nacional.                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d4982_12_1925')">
                Decreto n.º 4.982, de 24 de dezembro de 1925 - Lei de Férias.                
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d5083_12_1926')">
                Decreto n.º 5.083, de 1° de dezembro de 1926 - O Código de Menores regulamentava o trabalho dos menores de idade nas fábricas.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d17496_10_1926')">
                Decreto n.º 17.496, de 30 de outubro de 1926 - Regulamentou o Decreto 4.982/1925 estendendo o direito a férias.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d5109_12_1926')">
                Decreto n.º 5.109, de 20 de dezembro de 1926 - estendeu o regime do Decreto n.º 4.682/1923 a outras empresas, criando Caixas de Aposentadoria e Pensões.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d19433_11_1930')">
                Decreto n.º 19.433, de 23 de novembro de 1930 - Criação do Ministério do Trabalho, Indústria e Comércio.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d19482_12_1930')">
                Decreto n.º 19.482, de 12 de dezembro de 1930 - Lei de Nacionalização do Trabalho limitava a entrada de estrangeiros no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d19770_3_1931')">
                Decreto n.º 19.770, de 19 de março de 1931 - Lei de Sindicalização.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d21175_3_1932')">
                Decreto n.º 21.175, de 21 de março de 1932 - Instituição da Carteira de Trabalho e Previdência Social como documento obrigatório.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('c1934')">
                Em julho de 1934 – Promulgação de uma nova Constituição.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('c1937')">
                Em novembro de 1937 – Promulgação da Constituição Brasileira. 
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl1402_7_1939')">
                Decreto-lei n.º 1.402, de 5 de julho de 1939 - restaurava a unidade sindical proposta em 1931 e sepultava a pluralidade sindical prevista na Constituição de 1934.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl1237_5_1939')">
                Decreto-lei n.º 1.237, de 2 de maio de 1939 - organização da Justiça do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl2162_5_1940')">
                Decreto-Lei n.º 2.162, de 1° de maio de 1940 - instituição do salário mínimo nacional.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('jt_5_1941')">
                1° de maio de 1941 - É oficialmente instalada a Justiça do Trabalho no Brasil.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl5452_5_1943')">
                Decreto-Lei n.º 5.452, de 1° de maio de 1943 - é aprovada a Consolidação das Leis do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl9070_3_1946')">
                Decreto-lei n.º 9.070, de 15 de março de 1946 - condições de realização de greves.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d9502_7_1946')">
                Decreto n.º 9.502, de 23 de julho de 1946 - proíbe o exercício de atividade político-partidária por parte das organizações sindicais.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d41721_6_1957')">
                Decreto n.º 41.721, de 25 de junho de 1957 - a Convenção n.º 81 da OIT passou a integrar o ordenamento jurídico interno do país.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4066_5_1962')">
                Lei n.º 4.066, de maio de 1962 - normas para validade de pedido de demissão ou recibo de quitação contratual.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4214_3_1963')">
                Lei n.º 4214, de 2 de março de 1963 - instituiu a carteira profissional para o trabalhador do campo.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4266_10_1963')">
                Lei n.º 4.266, de outubro de 1963 – direito ao salário-família do trabalhador.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4330_6_1964')">
                Lei n.º 4330, de 1° de junho de 1964 - A Lei de greve que substituiu a Lei de Greve de 1946.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4589_12_1964')">
                Lei n.º 4.589, de 11 de dezembro de 1964 - criação dos Departamentos Nacionais de Emprego e Salário, de Segurança e Higiene no Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l4725_6_1965')">
                Lei n.º 4.725, de 13 de julho de 1965 - estabelece normas para o processo de dissídios coletivos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l5107_9_1966')">
                Lei n.º 5.107, de 13 de setembro de 1966 - instituiu o Fundo de Garantia do Tempo de Serviço (FGTS).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d229_2_1967')">
                Decreto n.º 229, de 28 de fevereiro de 1967 - introduziu uma série de modificações no corpo da CLT.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('dl564_5_1969')">
                Decreto-lei n.º 564, de 1° de maio de 1969 - estendeu benefícios da Previdência aos Trabalhadores Rurais.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l5584_6_1970')">
                Lei n. ° 5.584, de 26 de junho de 1970 - normas de Direito Processual do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l5889_6_1973')">
                Lei n °. 5.889, de 8 de junho de 1973 - Instituiu normas de regulação do trabalho rural.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('c1988')">
                1988 - Promulgação da nova Constituição Federal.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l7783_6_1989')">
                Lei n.º 7.783, de 28 de junho de 1989 - assegura o direito de greve a todo trabalhador.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('d2100_12_1996')">
                Decreto n.º 2.100, de 20 de dezembro de 1996 - anulava trechos do Decreto n.º 1.855/1996, responsável por ratificar a Convenção n.º 158 da Organização Internacional do Trabalho.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('antd_2006')">
                2006 - É lançada a Agenda Nacional de Trabalho Decente (ANTD).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l11948_6_2009')">
                Lei n.° 11.948, de 16 de junho de 2009 - que veda empréstimos do BNDES.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12551_12_2011')">
                Lei n.º 12.551, de 15 de dezembro de 2011 - reconhece o Teletrabalho, ou trabalho a distância.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12513_10_2011')">
                Lei n.º 12.513, de 26 de outubro de 2011 - institui o Programa Nacional de Acesso ao Ensino Técnico e ao Emprego (Pronatec).
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12440_7_2011')">
                Lei n.º 12.440, de 7 de julho de 2011 - cria a Certidão Negativa de Débito Trabalhista.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12382_2_2011')">
                Lei n.º 12.382, de 25 de fevereiro de 2011 - institui a política de aumento real para o salário mínimo até 2015. 
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12506_10_2011')">
                Lei n.º 12.506, de 11 de outubro de 2011 - amplia o aviso prévio de 30 para 90 dias.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l12761_12_2012')">
                Lei n.º 12.761, de 27 de dezembro de 2012 - institui o Programa de Cultura do Trabalhador e cria o Vale-Cultura.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('ec72_4_2013')">
                Emenda Constitucional n.º 72, de 2 de abril de 2013 - estende aos empregados domésticos os mesmos direitos dos trabalhadores urbanos.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('mp665_12_2014')">
                Medida Provisória n.º 665, de 30 de dezembro de 2014 - restringe o acesso a direitos trabalhistas.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l13467_6_2017')">
                Lei n.º 13.467, de 13 de julho de 2017 - institui uma reforma trabalhista, alterando pontos da CLT.
            </li>
            <li role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('l13429_3_2017')">
                Lei n.º 13.429, de 31 de março de 2017 - Lei da Terceirização, que regulamenta o trabalho temporário.
            </li>
        </ul>

    </div><!-- fim listaLeis -->

</div><!-- fim legiTrab -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div id="modal-dialog" class="modal-dialog" role="document">
        <div id="modal-content" class="modal-content">
            <div class="modal-body">
                <!--Aqui vai o conteúdo da janela-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button><!--Botão de Fechar-->
            </div>
        </div><!--fim modal-content-->
    </div>
</div>