<navegacao></navegacao>

<div class="container-fluid">
    <div class="row" style="border:1px solid black">
        <menu-lateral></menu-lateral>

        <conteudo-pagina-curi>
            <img ng-src="conteudo/Curiosidades/Justiça e Números/Foto/Justiça e Números_2.png" class="img-responsive" alt="Image">
            <img ng-src="conteudo/Curiosidades/Justiça e Números/Foto/Justiça e Números_3.png" class="img-responsive" alt="Image">
        </conteudo-pagina-curi>
    </div>
    <!--row-->
</div>
<!--container-fluid-->