<style>body{background-image:url(templates/2_cnt/orgaEvol/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="orgaEvol">
    <h2 class="titulo-pagina">Organograma Evolutivo do Conselho Nacional do Trabalho</h2>
    <p>Em 19 de fevereiro de 1928, com o Decreto nº 18.078, o CNT
        foi reorganizado, passando a exercer funções executivas nas questões do
        trabalho. O conselho foi habilitado a julgar os processos trabalhistas, podendo
        também propor ao governo as medidas que julgasse convenientes. Cabia-lhe
        fiscalizar as empresas nas questões do seguro contra acidentes de trabalho e da
        concessão de férias, com autoridade para aplicar multas. Finalmente, o decreto atribuiu
        ao CNT a função de mediador para o acordo ou a arbitragem nas questões
        coletivas entre operários e patrões. Nesse momento, Francisco Oliveira Passos,
        presidente do Centro Industrial do Brasil, tornou-se membro do conselho.</p>

    <p>Em 14 de julho de 1934, o Decreto nº 24.784 aprovou novo
        regulamento para o CNT, alterando também sua composição. O conselho passava a
        ser integrado por 18 membros, subindo para quatro o número de representantes
        tanto dos empregadores como dos empregados.</p>

    <p>Em 15 de julho do mesmo ano, a reorganização do CNT foi
        fixada pelo Decreto nº 1.346. O conselho passava a ser formado por 19 membros
        nomeados pelo presidente da República, a quem cabia igualmente escolher um
        presidente e dois vice-presidentes.</p>

    <p>O Decreto-Lei nº 3.710, de 14 de outubro de 1941, alterou a
        competência da Câmara de Previdência Social do CNT, que passava a funcionar
        como “órgão de recursos das decisões dos institutos e caixas de aposentadorias
        e pensões”.</p>

    <ul class="listaBotoes list-unstyled">
        <a href="#!/cnt/orgaEvol/d16027_30_04_1923">
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Decreto 16.027, de 30/04/1923" />
            </li>
        </a>
        <a href="#!/cnt/orgaEvol/d18074_19_01_1928">
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Decreto 18.074, de 19/01/1928" />
            </li>
        </a>    

    </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>