<div class="modal-header">
    <P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Brasil
                Colônia</B></SPAN></FONT></FONT></FONT></P>
</div>
<div class="modal-body">
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">O
            Brasil adotou por 388 anos o modelo escravagista como forma de
            trabalho preferencial. Os indígenas representaram a primeira fonte
            de mão de obra escravizada, utilizados para a extração do
            pau-brasil e para o cultivo de cana-de-açúcar. O processo da
            derrubada das árvores e corte do pau-brasil se tornou a primeira
            atividade coletiva de trabalho no período colonial. Eles realizavam
            a derrubada das árvores e cortavam-nas em pedaços menores. Depois
            disso, transportavam a madeira para as feitorias, onde ficavam
            estocadas até serem levadas para a Europa.  Com o passar do tempo, a
            mão de obra indígena foi sendo gradativamente abandonada. Em 1550,
            o trabalho escravo passou a ser composto majoritariamente por negros
            cativos trazidos das colônias africanas.  </SPAN></FONT></FONT></FONT>
            <IMG SRC="templates/1_orig/histTrab/Brasil_Col_nia_html_8fae3cc3.jpg" NAME="Imagem 4" ALIGN=LEFT HSPACE=12 WIDTH=311 HEIGHT=224 BORDER=0>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">O
            processo de produção do açúcar envolvia a parte de plantação e
            colheita da cana, tarefa que era executada pelos escravos, que
            enchiam os carros de bois com a cana cortada para levá-las à
            moenda. As máquinas de moer, geralmente impulsionadas por força
            animal ou por escravos, eram utilizadas para extrair o caldo da cana,
            que seria depois fervido e colocado em recipientes cônicos com um
            buraco no fundo para escorrer a água restante. O açúcar resultante
            desse processamento era enviado para a Europa, onde seria refinado e
            vendido. Outras atividades econômicas foram se desenvolvendo no
            Brasil nesse período. Havia plantações de algodão e fumo voltados
            ao mercado externo; e de mandioca, milho, feijão e arroz à economia
            de subsistência. </SPAN></FONT></FONT></FONT>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">A
            descoberta das minas de ouro e diamante expandiram o tráfico
            negreiro e o número de escravos na colônia, com a população negra
            superando demograficamente as demais etnias presentes no Brasil. O
            trabalho na mina se desenvolveu em torno de duas técnicas
            principais: garimpar o ouro das encostas de rios, córregos e riacho;
            e extrair terra e cascalho da encosta de montanhas com presença de
            ouro para fazer a separação dos resíduos. Em ambas as formas de
            extração era utilizada uma ferramenta chamada bateia, uma bacia com
            fundo cônico que servia para separar o cascalho e a terra das
            pepitas e pedras preciosas.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">A
            venda de escravos era um comércio lucrativo, chegando a superar os
            lucros de algumas produções agrícolas. As condições de trabalho
            entre os escravos eram degradantes, tanto nos engenhos como nas
            minas, e a violência era continuamente utilizada como forma de
            coibir a desídia e forçar o aumento da produção. Os primeiros
            profissionais livres só começaram a existir no Brasil após a vinda
            e instalação da Coroa Portuguesa na colônia. </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><SPAN STYLE="background: #ffffff">O
                nível superior se desenvolveu lentamente, formava profissionais para
                ocuparem cargos de prestígio de um mercado restrito, de alto status
                social.</SPAN></SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><SPAN STYLE="background: #ffffff">Não
                havia nenhuma legislação específica voltada para o trabalho, com
                as relações trabalhistas e seus termos definidos por contratos
                diretos entre o empregador e o profissional livre. Os escravos eram
                praticamente desprovidos de direitos, e somente com o desenvolvimento
                de uma lógica de pensamento liberal no período imperial é que a
                escravidão e as relações de trabalho começaram a ser discutidas.</SPAN></SPAN></FONT></FONT></FONT></P>
    <P STYLE="margin-bottom: 0.14in"><BR><BR>
    </P>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button><!--Botão de Fechar-->
</div>