<style>body{background-image:url(templates/1_orig/histTrab/fundo.jpg)}</style><!--muda o fundo da tela-->
<script>
    /**
     * Define o conteúdo do modal de acordo com 
     * a variável op
     * @param {type} opcao
     * @returns {undefined}
     */
    function setConteudo(opcao) {
        var op = opcao;
        var content;//variável de conteúdo
        var myModal = $('#myModal');//referencia ao modal (janela) da página
        switch (op) {
            case '1':
                $.get("templates/1_orig/histTrab/colonia/colonia.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '2':
                $.get("templates/1_orig/histTrab/imperio/imperio.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case '3':
                $.get("templates/1_orig/histTrab/republica/republica.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
        }//fim switch
    }//fim função setConteudo
</script>
<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid histTrab">
    <h1 class="titulo-pagina">História do Trabalho no Brasil</h1>
    <img class="imagem-texto" src="templates/1_orig/Historia do Trabalho no Brasil/Foto/História do Trabalho no Brasil.jpg" alt="foto"/>
    <p>A história do trabalho no Brasil, marcada pelo longo período de escravidão e exploração dos trabalhadores, é muito rica em informações, há diversas formas de relações trabalhistas, movimentos sociais, lutas, direitos e legislações. Contudo, entre o período colonial até a proteção estabelecida pela Consolidação das Leis do Trabalho (CLT) e pela Justiça do Trabalho (JT), muitos embates ideológicos, greves e até mesmo conflitos foram travados. Os tipos de trabalho se desenvolveram e mudaram, as relações de trabalho se modificaram e se adaptaram a cada novo cenário.</p>
    <p>Em síntese, apresentamos aqui importantes eventos da história do nosso país, de nossos trabalhadores e do desenvolvimento social e econômico da nação. Dividido nas principais formas de governo a que o Brasil foi submetido (Colônia, Império e República), o conteúdo apresentado dará um panorama rápido do que foi a história do trabalho brasileiro e do caminho traçado até chegarmos à criação da Justiça do Trabalho.</p>
    <div class="divBotoes">
        <!--divs que são os "links" para o modal (janela)-->
        <div title="Brasil Colônial" role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('1')"
             style="position: absolute; left: 6%; top: 22.28%; width: 26%; height: 13.56%; z-index: 2;"></div>
        <div title="Brasil Império" role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('2')"
             style="position: absolute; left: 6.15%; top: 47.7%; width: 26%; height: 13.56%; z-index: 2;"></div>
        <div title="Brasil República" role="button" data-toggle="modal" data-target="#myModal" onclick="setConteudo('3')"
             style="position: absolute; left: 6.31%; top: 72.64%; width: 26%; height: 13.08%; z-index: 2;"></div>

        <!--divs que são os "links" para o modal (janela) para os vídeos-->
        <div title="Vídeo Brasil Colônia" role="button" style="position: absolute; left: 69.08%; top: 17.92%; width: 22.92%; height: 21.55%; z-index: 2;"></div>
        <div title="Vídeo Brasil Império" role="button" style="position: absolute; left: 69.38%; top: 42.62%; width: 23.23%;  height: 21.31%; z-index: 2;"></div>
        <div title="Vídeo Brasil República" role="button" style="position: absolute; left: 69.38%; top: 67.07%; width: 23.54%; height: 21.31%; z-index: 2;"></div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>