<div class="modal-header">
    <P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Brasil
                República</B></SPAN></FONT></FONT></FONT></P>
</div>
<div class="modal-body">
    <P CLASS="western" STYLE="margin-bottom: 0in; background: #ffffff; widows: 2; orphans: 2">
        <IMG SRC="templates/1_orig/histTrab/Brasil_Rep_blica_html_cc1bc7c4.jpg" NAME="Imagem 905" ALIGN=LEFT HSPACE=12 WIDTH=292 HEIGHT=207 BORDER=0><BR>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">O
            início da República no Brasil, em 1889, representa também uma
            mudança de paradigma nas relações de trabalho. Com o fim da
            escravidão, os empresários se viram forçados a contratar
            trabalhadores livres, mas as condições de trabalho em muitos locais
            beiravam a servidão. O processo de industrialização e surgimento
            das fábricas implementaram novas formas de trabalho e de organização
            social. As influências de ideologias estrangeiras, liberais,
            marxistas e socialistas, começaram a desenhar o perfil do
            trabalhador brasileiro, das legislações e dos embates travados
            entre empregados e empregadores.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">Houve
            um relevante desenvolvimento fabril nas regiões sudeste e nordeste,
            porém a economia brasileira continuou fundamentalmente agrária, com
            o gado e o café sendo os grandes produtos de exportação. Daí
            derivou-se a política do café com leite da república velha, que
            determinou por cerca de 30 anos os movimentos de alternância
            política entre as oligarquias cafeeiras de São Paulo e pecuaristas
            de Minas Gerais. </SPAN></FONT></FONT></FONT>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">O
            trabalho no campo e nas cidades começou a contar com uma presença
            maior de estrangeiros em relação ao período imperial, por conta do
            incentivo ao processo migratório de europeus para o Brasil,
            impulsionado pelo governo brasileiro da época. Os trabalhadores
            nacionais geralmente ocupavam-se do trabalho braçal no chão das
            fábricas, enquanto a população negra ficou relegada à
            informalidade nas cidades e ao trabalho nas fazendas, em condições
            muito semelhantes aos tempos de escravidão.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">As
            rotinas produtivas nas fábricas eram exaustivas, com jornadas longas
            e em condições insalubres. A busca por mão de obra barata foi a
            tônica das empresas no início do século XX, e a contratação de
            crianças e adolescentes foi a solução encontrada pelos empresários
            para maximizar os lucros. Então, as manifestações em busca de
            melhorias nas condições de trabalhos começaram a se espalhar. O
            ano de 1917 ficou conhecido como o período das grandes greves no
            país, quando vários sindicatos e movimentos operários se
            organizaram para pleitear direitos trabalhistas. </SPAN></FONT></FONT></FONT>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">A
            fim de evitar convulsões sociais de maiores proporções, diversas
            legislações sobre questões trabalhistas foram criadas durante a
            década de 20, garantindo direitos como estabilidade, férias,
            diminuição da jornada e regulamentação do trabalho de menores.
            Entretanto, as aplicações das leis muitas vezes falhavam,
            geralmente por falta do interesse dos empresários em se adaptarem às
            novas regras ou por falta de fiscalização. Com o fim da política
            do café com leite e da república velha, marcado pela ascensão de
            Getúlio Vargas ao cargo de presidente, deu-se início a um processo
            de criação, ampliação e planificação de direitos trabalhistas,
            que viriam a culminar na criação da Justiça do Trabalho e da
            Consolidação das Leis Trabalhistas.</SPAN></FONT></FONT></FONT></P>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button><!--Botão de Fechar-->
</div>