<navegacao></navegacao>

<div class="row menu" id="menu">
    <!--Pegar as informações dos botões no TotenCtrl e 
    repetir o código do meu-botão usando elas-->
    <menu-botao ng-repeat="menu in menuLista"
                ng-click="menuCollapses($index); setFiltro(menu.index)"
                index="{{menu.index}}"
                imagem="{{menu.imagem}}"
                titulo="{{menu.titulo}}"
                >
        <!--Lista para cada botão (está dentro de um <ul>)-->
        <li class="list-group-item" ng-repeat="topico in menu.topicos">
            <a href="{{topico.url}}">
                {{topico.titulo}}
            </a>
        </li>
    </menu-botao>
</div>