<style>body{background-image:url(templates/3_jt/noMund/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid noMund">
    <div class="row">
        <h2 class="titulo-pagina">Justiça do Trabalho no Mundo</h2>
        <figure>
            <p>
                <img src="templates/3_jt/No Mundo/Foto/No Mundo.jpg" alt="foto"/>
            </p>
        </figure>
        <p>Os primeiros organismos especializados na solução dos conflitos entre patrões e empregados surgiram na França e foram os denominados <i>Conseils de Prud’hommes</i>, em 1806. A bem-sucedida experiência francesa inspirou outros países da Europa a instituírem organismos independentes do Poder Judiciário para a apreciação das causas trabalhistas, através dos quais passaram a buscar fundamentalmente a conciliação, muito mais do que a autoritária imposição de uma solução pelo Estado. </p>
        <p>Assim, destaca-se que na Itália nasceram, em 1893, os <i>Probiviri</i>, substituídos em 1928 pela Magistratura do Trabalho; na Inglaterra surgiram, em 1919, os Tribunais Industriais; na Alemanha, em 1926, surgiu a Lei de Tribunais do Trabalho, precedidos de Tribunais Industriais; na Espanha surgiram, em 1908, os Tribunais Industriais para acidentes do trabalho, em 1926, os Comitês Paritários para conciliação e regulamentação do trabalho, em 1931, os Jurados Mistos e, em 1940, a Magistratura do Trabalho; e, finalmente, em Portugal, em 1931, surgiram os Tribunais de Árbitros Avindores, posteriormente substituídos pelos Tribunais do Trabalho. </p>
        <p>No Brasil, a Constituição de 1934 continha a primeira previsão sobre a Justiça do Trabalho instalada no País em 1941.</p>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <table class="table table-bordered text-left">
                <thead>
                    <tr>
                        <th colspan="3">SURGIMENTO DA JUSTIÇA DO TRABALHO NO MUNDO</th>
                    </tr>
                    <tr>
                        <th>ANO</th>
                        <th>PAÍS</th>
                        <th>ORGANISMO JURISDICIONAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1806</td>
                        <td>França</td>
                        <td>Conseils de Prud’hommes</td>
                    </tr>
                    <tr>
                        <td>1893</td>
                        <td>Itália</td>
                        <td>Probiviri</td>
                    </tr>
                    <tr>
                        <td>1919</td>
                        <td>Inglaterra</td>
                        <td>Industrial Tribunals</td>
                    </tr>
                    <tr>
                        <td>1926</td>
                        <td>Alemanha</td>
                        <td>Arbeitgerichts</td>
                    </tr>
                    <tr>
                        <td>1926</td>
                        <td>Espanha</td>
                        <td>Comites Paritarios para Conciliación y Regulamentación del Trabajo</td>
                    </tr>
                    <tr>
                        <td>1931</td>
                        <td>Portugal</td>
                        <td>Tribunais de Árbitros Avindores</td>
                    </tr>
                </tbody>
            </table>
            <small>Fonte: FERRARI, Irany. História do trabalho, do direito do trabalho e da justiça do trabalho. Irany Ferrari, Amauri Mascaro Nascimento, Ives Gandra da Silva Martins Filho. 3. Ed.. – São Paulo: LTr, 2011.</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <table class="table table-bordered text-left">
                <thead>
                    <tr>
                        <th colspan="3">POR QUEM SÃO DECIDIDOS OS CONFLITOS TRABALHISTAS</th>
                    </tr>
                    <tr>
                        <th>JUSTIÇA COMUM OU ADMINISTRATIVA</th>
                        <th>JUSTIÇA DO TRABALHO COMO RAMO DA JUSTIÇA COMUM</th>
                        <th>JUSTIÇA DO TRABALHO COMO JUSTIÇA ESPECIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Estados Unidos
                            <br>
                            França 
                            <br>
                            Índia 
                            <br>
                            México
                            <br>
                            Nigéria 
                            <br>
                            Suíça
                        </td>
                        <td>
                            Argentina
                            <br>
                            Austrália 
                            <br>
                            Bolívia 
                            <br>
                            Colômbia 
                            <br>
                            Costa Rica 
                            <br>
                            Chile
                            <br>
                            Espanha 
                            <br>
                            Itália 
                            <br>
                            Panamá 
                            <br>
                            Paraguai
                            <br>
                            Peru
                            <br>
                            República Dominicana
                            <br>
                            Uruguai
                        </td>
                        <td>Alemanha
                            <br>
                            Bélgica 
                            <br>
                            Brasil 
                            <br>
                            Camarões
                            <br>
                            Costa do Marfim
                            <br>
                            Egito
                            <br>
                            Grã-Bretanha 
                            <br>
                            Israel 
                            <br>
                            Madagascar 
                            <br>
                            Noruega 
                            <br>
                            Senegal 
                            <br>
                            Suécia
                            <br>
                            Venezuela
                        </td>
                    </tr>
                </tbody>
            </table>
            <small>Fonte: FERRARI, Irany. História do trabalho, do direito do trabalho e da justiça do trabalho. Irany Ferrari, Amauri Mascaro Nascimento, Ives Gandra da Silva Martins Filho. 3. Ed.. – São Paulo: LTr, 2011.</small>
        </div>
    </div>
    <p></p>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>