<div class="modal-header">
    <P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Brasil
                Império</B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT SIZE=3><SPAN LANG="pt-BR"><B>
            </B></SPAN></FONT></FONT></P>
</div>
<div class="modal-body">
    <IMG SRC="templates/1_orig/Brasil_Imp_rio_html_3adc9b17.jpg" NAME="Imagem 904" ALIGN=BOTTOM WIDTH=525 HEIGHT=198 BORDER=0>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">Quando
            Dom Pedro I proclamou a independência do Brasil em 1822, a
            exploração do trabalho escravo já havia iniciado seu período de
            decadência. O avanço das ideias liberais antiescravagistas na
            Europa influenciou a política local brasileira. A pressão dos
            ingleses pelo fim do tráfico ultramarino teve sua importância no
            processo de diminuição da mão de obra escrava, que ficava restrita
            aos cativos nacionais. A queda do valor do açúcar no mercado
            externo e a diminuição da extração das minas de ouro e diamante,
            que se esgotaram rapidamente, representam outro fator que explicaria
            a menor necessidade dos escravos.  </SPAN></FONT></FONT></FONT>
    </P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">No
            início da década de 1830, o café ultrapassou o açúcar como
            principal insumo de exportação. Nas fazendas de café, a mão de
            obra passou a ser integrada também por estrangeiros. O regime de
            trabalho era diferenciado em relação aos escravos, mas as condições
            de trabalho eram semelhantes, com o trabalhador estrangeiro e o
            escravo laborando lado a lado na mesma plantação. As técnicas de
            produção de café envolviam o desmatamento das terras onde seriam
            colocadas as mudas da planta, que demoravam cinco anos para começar
            a dar frutos. A colheita era feita pelos escravos, que colocavam os
            grãos do café para secar em terreiros, retiravam a casca do grão
            através de monjolos e enviavam as sacas de café para a capital, de
            onde era exportado.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">Diante
            do cenário desfavorável à manutenção da escravidão, o processo
            que culminou na libertação definitiva dos escravos se desenvolveu
            de forma gradativa. Em 1850, a Lei Eusébio de Queirós proibiu o
            tráfico negreiro no país. Em 1871, a Lei do Ventre Livre
            estabeleceu a liberdade para os filhos de escravos. A Lei dos
            Sexagenários de 1885 libertou todos os escravos com mais de 60 anos
            e, por fim, em 1888, foi promulgada a Lei Áurea que proibiu a
            escravidão no Brasil.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">Concernente
            a este período, o couro, o cacau e a borracha passaram a ter maior
            representação na balança comercial brasileira, introduzindo a
            região Norte na rota econômica nacional. O látex, matéria prima
            da borracha, era a seiva extraídas das árvores seringueiras muito
            abundantes na região amazônica. O seringueiro, com auxílio de uma
            faca de sangria, fazia um sulco no caule da árvore, para que a seiva
            escorresse por uma ferramenta chamada bica, de onde pingaria para um
            recipiente. O material seria então acomodado em barris e exportado.</SPAN></FONT></FONT></FONT></P>
    <P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
        <FONT FACE="Calibri, serif"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="pt-BR">	Foi
            durante o regime imperial também que surgiram as primeiras formas de
            legislação voltada para as relações de trabalho. Buscavam de
            forma geral regular os contratos de prestações de serviço,
            resguardando principalmente o contratante. A abolição da escravidão
            significou o aumento da utilização de mão de obra composta por
            trabalhadores livres, e essa nova forma de vínculo laboral foi
            marcante nos anos finais do Império e no início da República,
            quando o processo de industrialização foi iniciado.</SPAN></FONT></FONT></FONT></P>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button><!--Botão de Fechar-->
</div>