<div ng-include='"templates/nav.html"'></div><!--este código estará dentro de index.html-->
<div class="orig">
    <img src="img/orig-menu.jpg" alt=""/>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Brasil Colônia</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="color: black">
    <div class="modal-dialog modal-lg">

        <!-- Conteúdo do Modal -->
        <div class="modal-content">
            <div ng-include='"templates/1_orig/colonia.html"'></div><!--este código estará dentro de index.html-->
        </div>
    </div>
</div>