<style>#tela{background-image:url(img/orig-menu-fundo.jpg)}</style><!--muda o fundo da tela-->
<script>
    /**
     * Define o conteúdo do modal de acordo com 
     * a variável op
     * @param {type} opcao
     * @returns {undefined}
     */
    function setConteudo(opcao) {
        var op = opcao;
        var content;//variável de conteúdo
        var myModal = $('#myModal');//referencia ao modal (janela) da página
        switch (op) {
            case 'col':
                $.get("templates/1_orig/colonia.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'imp':
                $.get("templates/1_orig/imperio.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
            case 'rep':
                $.get("templates/1_orig/republica.html", function (content) {//variável content recebe o conteúdo
                    $(myModal).find('.modal-content').html(content);//põe o conteúdo na classe .modal-content
                }, 'html');
                break;
        }//fim switch
    }//fim função setConteudo
</script>
<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->
<div ng-include='"templates/nav.html"'></div><!--este código estará dentro de index.html-->
<div class="orig">
    <!--<img class="imgFundo" src="img/orig-menu-fundo.jpg" alt="orig-menu" />-->
    <img class="imgBotoes" src="img/orig-menu-botoes.png" alt="orig-menu" />

    <!--divs que são os "links" para o modal (janela)-->
    <div data-toggle="modal" data-target="#myModal" title="Brasil Colônia" role="button"  style="position: absolute; left: 6%; top: 22.28%; width: 26.31%; height: 13.56%; z-index: 2;" onclick="setConteudo('col')"></div>
    <div data-toggle="modal" data-target="#myModal" title="Brasil Império" role="button" style="position: absolute; left: 6.31%; top: 47.94%; width: 26.15%; height: 13.56%; z-index: 2;" onclick="setConteudo('imp')"></div>
    <div data-toggle="modal" data-target="#myModal" title="Brasil República" role="button" style="position: absolute; left: 6.15%; top: 73.85%; width: 26.15%; height: 12.35%; z-index: 2;" onclick="setConteudo('rep')"></div>

    <!--divs que são os "links" para o modal (janela) para os vídeos-->
    <div title="Vídeo Brasil Colônia" role="button" style="position: absolute; left: 69.08%; top: 17.92%; width: 22.92%; height: 21.55%; z-index: 2;"></div>
    <div title="Vídeo Brasil Império" role="button" style="position: absolute; left: 69.38%; top: 42.62%; width: 23.23%;  height: 21.31%; z-index: 2;"></div>
    <div title="Vídeo Brasil República" role="button" style="position: absolute; left: 69.38%; top: 67.07%; width: 23.54%; height: 21.31%; z-index: 2;"></div>

</div>

<!-- Modal -->
<div id="myModal" class="modal" data-easein="expandIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="color: black">
    <div class="modal-dialog" style="width: 95%">
        <!-- Conteúdo do Modal -->
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div>
    </div>
</div>