<style>body{background-image:url(templates/6_curi/diciProf/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid diciProf">
    <div class="row">
        <h2 class="titulo-pagina">DICIONÁRIO DE PROFISSÕES POUCO COMUNS</h2><br>
        <br>
        <ul class="listaBotoes list-unstyled">
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Chanfrador" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Colometrista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Duteiro" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Espeleólogo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Extrusor de sopro" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Faccionista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Faquista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ficólogo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Gemólogo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Guaribador" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Herpetólogo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ictiólogo" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Madrilador" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Micologista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Migueiro/Trigueiro" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Mirmecologista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Ornitóloga" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Papiloscopista" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Piloteiro" /></li>
            <li><input class="btn btn-azul btn-lg btn-block" type="submit" value="Tricologista" /></li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>