<navegacao></navegacao>

<div class="container-fluid">
    <div class="row" style="border:1px solid black">
        <menu-lateral></menu-lateral>
        
        <conteudo-pagina-texto titulo="{{titulo}}" foto="{{foto}}" legenda="{{legenda}}" texto="texto">
            <li class="list-group-item" ng-repeat="subtopico in subtopicos" data-toggle="modal" data-target="#myModal{{$index+1}}">
                <a>
                    {{subtopico.titulo}}
                </a>
            </li>
        </conteudo-pagina-texto>
    </div>
    <!--row-->
</div>
<!--container-fluid-->

<modal-pdf></modal-pdf>