<style>body{background-image:url(templates/6_curi/justNume/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid justNume">
    <div class="row">
        <h2 class="titulo-pagina">Justiça em Números</h2><br>
        <figure><p><img src="templates/6_curi/Justiça e Números/Foto/Justiça e Números.png" alt="foto"></p></figure>
        <p>Você parou para se questionar quantos processos o TST julga por ano? É importante que todos os cidadãos saibam que a Justiça do Trabalho conta com ministros, juízes, desembargadores e servidores que não medem esforços para que os seus direitos sejam respeitados.</p>
        <p>Outra pergunta: você saberia responder o que profissionais como espeleólogo, herpetólogo, guaribador ou ictiólogo fazem? saiba que apesar de serem pouco conhecidas, esses e outras profissões fazem parte da realidade de muitos trabalhadores. Que tal descobrir com o que esses profissionais se ocupam e, quem sabe, encontrar alguma nova afinidade para sua vida profissional?</p>
        <p>Aqui você saberá como o Dia do Trabalho é comemorado em outros países e até a quantidade de dias de férias que os trabalhadores têm direito mundo a fora. Além disso, se disserem que um processo julgado no TST já virou filme, você acredita? Convidamos você para descobrir essas e outras curiosidades.</p>
    </div>
        <img src="templates/6_curi/Justiça e Números/Foto/Justiça e Números_2.png" alt="foto">
        <img src="templates/6_curi/Justiça e Números/Foto/Justiça e Números_3.png" alt="foto">
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>