<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <table class="table table-bordered text-left">
            <thead>
                <tr>
                    <th colspan="3">SURGIMENTO DA JUSTIÇA DO TRABALHO NO MUNDO</th>
                </tr>
                <tr>
                    <th>ANO</th>
                    <th>PAÍS</th>
                    <th>ORGANISMO JURISDICIONAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1806</td>
                    <td>França</td>
                    <td>Conseils de Prud’hommes</td>
                </tr>
                <tr>
                    <td>1893</td>
                    <td>Itália</td>
                    <td>Probiviri</td>
                </tr>
                <tr>
                    <td>1919</td>
                    <td>Inglaterra</td>
                    <td>Industrial Tribunals</td>
                </tr>
                <tr>
                    <td>1926</td>
                    <td>Alemanha</td>
                    <td>Arbeitgerichts</td>
                </tr>
                <tr>
                    <td>1926</td>
                    <td>Espanha</td>
                    <td>Comites Paritarios para Conciliación y Regulamentación del Trabajo</td>
                </tr>
                <tr>
                    <td>1931</td>
                    <td>Portugal</td>
                    <td>Tribunais de Árbitros Avindores</td>
                </tr>
            </tbody>
        </table>
        <small>Fonte: FERRARI, Irany. História do trabalho, do direito do trabalho e da justiça do trabalho. Irany Ferrari, Amauri
            Mascaro Nascimento, Ives Gandra da Silva Martins Filho. 3. Ed.. – São Paulo: LTr, 2011.</small>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <table class="table table-bordered text-left">
            <thead>
                <tr>
                    <th colspan="3">POR QUEM SÃO DECIDIDOS OS CONFLITOS TRABALHISTAS</th>
                </tr>
                <tr>
                    <th>JUSTIÇA COMUM OU ADMINISTRATIVA</th>
                    <th>JUSTIÇA DO TRABALHO COMO RAMO DA JUSTIÇA COMUM</th>
                    <th>JUSTIÇA DO TRABALHO COMO JUSTIÇA ESPECIAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Estados Unidos
                        <br> França
                        <br> Índia
                        <br> México
                        <br> Nigéria
                        <br> Suíça
                    </td>
                    <td>
                        Argentina
                        <br> Austrália
                        <br> Bolívia
                        <br> Colômbia
                        <br> Costa Rica
                        <br> Chile
                        <br> Espanha
                        <br> Itália
                        <br> Panamá
                        <br> Paraguai
                        <br> Peru
                        <br> República Dominicana
                        <br> Uruguai
                    </td>
                    <td>Alemanha
                        <br> Bélgica
                        <br> Brasil
                        <br> Camarões
                        <br> Costa do Marfim
                        <br> Egito
                        <br> Grã-Bretanha
                        <br> Israel
                        <br> Madagascar
                        <br> Noruega
                        <br> Senegal
                        <br> Suécia
                        <br> Venezuela
                    </td>
                </tr>
            </tbody>
        </table>
        <small>Fonte: FERRARI, Irany. História do trabalho, do direito do trabalho e da justiça do trabalho. Irany Ferrari, Amauri
            Mascaro Nascimento, Ives Gandra da Silva Martins Filho. 3. Ed.. – São Paulo: LTr, 2011.</small>
    </div>
</div>