<style>body{background-image:url(templates/4_tst/progInst/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid progInst">
    <div class="row">
        <h2 class="titulo-pagina">Programas Institucionais</h2>
        <figure>
            <p><img src="templates/4_tst/Programas Institucionais/Foto/programas institucionais.jpg" alt="foto"/></p>
        </figure>
        <p>O Tribunal Superior do Trabalho possui iniciativas que contribuem para que o órgão seja reconhecido não só pela sua função primordial de uniformizar a jurisprudência trabalhista brasileira, mas como incentivador de diversas iniciativas ligadas à cidadania. Exemplo disso, são os programas institucionais realizados, como a Semana Nacional de Conciliação Trabalhista, que visa implementar medidas para proporcionar maior celeridade aos processos trabalhistas e aprimorar os meios consensuais de resolução de conflitos.</p>
        <p>Outro exemplo é o Programa de Execução Trabalhista que, dentre outras funções, tem o objetivo de divulgar medidas que auxiliem os magistrados da Justiça do Trabalho no cumprimento das Metas Nacionais. Já o Programa Trabalho Seguro, desenvolve importante papel na formulação e execução de projetos e ações nacionais voltados à prevenção de acidentes de trabalho e ao fortalecimento da Política Nacional de Segurança e Saúde no Trabalho.</p>
        <p>Uma iniciativa considerada quebra de paradigma no Judiciário Brasileiro é o sistema de Processo Judicial Eletrônico (PJe), no qual lança-se mão da tecnologia da informação em prol de serviços mais eficientes, econômicos, céleres e acessíveis de qualquer localidade e temporalidade. Além disso, o TST possui o Programa de Combate ao Trabalho Infantil, que pretende mostrar que o trabalho infantil existe e precisa ser eliminado.</p>
        <p>Para que essas e todas as outras atividades realizadas pelo Tribunal não sejam esquecidas, o TST conta com o Programa de História Oral, que busca consolidar a memória institucional da Corte, registrar sua contribuição para a história social brasileira e também fomentar a pesquisa de temas relacionados à evolução do direito e da Justiça do Trabalho.</p>
    </div>
    <br>
    <div class="row">
        <ul class="listaBotoes list-unstyled" >
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Conciliação Trabalhista" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Execução Trabalhista" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Trabalho Seguro" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Pje" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Programa de Combate ao Trabalho Infantil e Estimulo à Aprendizagem" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="História Oral" />
            </li>
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="JusLaboris – Biblioteca Digital da Justiça do Trabalho" />
            <li>
                <input class="btn btn-azul btn-lg btn-block" type="submit" value="Arquivoteca Digital – TST" />
            </li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
    <div class="modal-dialog" role="document" style="width: 95%">
        <div class="modal-content">
            <!--Aqui vai o conteúdo da janela-->
        </div><!--fim modal-content-->
    </div>
</div>