<style>body{background-image:url(templates/5_csjt/cria/fundo.jpg)}</style><!--muda o fundo da tela-->

<script src="js/modal.js" type="text/javascript"></script><!-- Script do efeito do modal -->

<div ng-include="'templates/nav.html'"></div><!--este código estará dentro de index.html-->
<div class="container-fluid cria">
    <div class="row">
        <h2 class="titulo-pagina">Conselho Superior da Justiça do Trabalho</h2><br>
        <img style="width: 30vw" src="templates/5_csjt/Foto/CSJT.png" alt="foto"/>
        <p>O Conselho Superior da Justiça do Trabalho (CSJT) foi criado pela Emenda Constitucional n.º 45, de 30 de dezembro de 2004, com o acréscimo do art. 111-A. A sessão de instalação do CSJT ocorreu em 15 de junho de 2005. O Conselho exerce a supervisão administrativa, orçamentária, financeira e patrimonial da Justiça do Trabalho de primeiro e segundo graus. As decisões do CSJT têm efeito vinculante.</p>
        <p>É integrado pelo presidente e vice-presidente do Tribunal Superior do Trabalho e pelo corregedor-geral da Justiça do Trabalho, membros natos. Também compõem o Conselho três ministros eleitos pelo Pleno do Tribunal Superior do Trabalho e cinco presidentes de Tribunais Regionais do Trabalho, cada um deles representando uma das cinco Regiões geográficas do País (Sul, Sudeste, Centro-Oeste, Nordeste e Norte).</p>
        <p>Tem como missão “Exercer a supervisão administrativa, orçamentária, financeira e patrimonial da Justiça do Trabalho de 1º e 2º graus, a fim de promover seu aprimoramento em benefício da sociedade” e visa “Ser reconhecido perante a sociedade pela excelência desempenhada na supervisão, integração e desenvolvimento da Justiça do Trabalho de 1º e 2º graus”.</p>
        <br>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
        <div class="modal-dialog" role="document" style="width: 95%">
            <div class="modal-content">
                <!--Aqui vai o conteúdo da janela-->
            </div><!--fim modal-content-->
        </div>
    </div>