<!--Conteúdo dentro de curiosidades-->
<div class="container-fluid" style="border: 1px dotted green;padding: 0;">
    <div ng-repeat="topico in conteudo">
        <div class="col-md-2" style="border:1px dashed blue">
            <img ng-src="{{topico.fotoUrl}}" class="img-responsive" alt="{{topico.fotoUrl}}" />
        </div>
        <div class="col-md-4" style="border:1px dashed blue; height: 191.3px;">
            <h4>{{topico.profissao}}</h4>
            <p ng-repeat="paragrafo in topico.texto">{{paragrafo}}</p>
        </div>
    </div>
</div>