<div class="modal animated zoomIn" id="myModal{{$index+1}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-repeat="item in lista">
    <div class="modal-dialog modal-lg" role="document" style="width:50vw">
        <!--Repete item em lista e filtra por x-->
        <div id="modal-content" class="modal-content">
            <div class="modal-header">
                <h2>{{item.titulo}}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <figure class="col-md-4">
                        <p>
                            <img class="img-responsive" ng-src="{{item.fotoUrl}}" alt="Foto não encontrada" />
                            <img class="img-responsive" ng-if="item.titulo == '2006'" ng-src="{{item.fotoUrl2}}" alt="Foto não encontrada" />
                            <img class="img-responsive" ng-if="item.titulo == '2006'" ng-src="{{item.fotoUrl3}}" alt="Foto não encontrada" />
                            <img class="img-responsive" ng-if="item.titulo == '2006'" ng-src="{{item.fotoUrl4}}" alt="Foto não encontrada" />
                            <img class="img-responsive" ng-if="item.titulo == '2006'" ng-src="{{item.fotoUrl5}}" alt="Foto não encontrada" />
                        </p>
                    </figure>
                    <p class="col-md-8" ng-repeat="paragrafo in item.texto">{{paragrafo}}</p>
                </div>
                <!--fim row-->
            </div>
            <!--fim modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <!--Botão de Fechar-->
            </div>
        </div>
        <!--fim modal-content-->
    </div>
    <!--fim modal-dialog-->
</div>
<!--fim modal-->